<%- include("../partials/cabecalho") %>

<h2>Equipamentos</h2>
<a href="/admin/equipamentos/novo">+ Novo Equipamento</a>

<table>
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Foto</th>
  </tr>
  <% equipamentos.forEach(equip => { %>
    <tr>
      <td><%= equip.id %></td>
      <td><%= equip.nome %></td>
      <td><%= equip.descricao %></td>
      <td>
        <% if (equip.foto) { %>
          <!-- Agora usamos /uploads/... -->
          <img src="/uploads/<%= equip.foto.split('uploads/')[1] %>" 
               alt="Foto do equipamento" width="120">
        <% } else { %>
          Sem foto
        <% } %>
      </td>
    </tr>
  <% }) %>
</table>

<%- include("../partials/rodape") %>
