<%- include("../partials/cabecalho") %>

<h2>Ordens de Serviço</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Equipamento</th>
    <th>Status</th>
    <th>Foto Antes</th>
    <th>Foto Depois</th>
  </tr>
  <% ordens.forEach(os => { %>
    <tr>
      <td><%= os.id %></td>
      <td><%= os.equipamento_nome %></td>
      <td><%= os.status %></td>
      <td>
        <% if (os.foto_antes) { %>
          <img src="/uploads/<%= os.foto_antes.split('uploads/')[1] %>" 
               alt="Foto antes" width="120">
        <% } else { %>
          -
        <% } %>
      </td>
      <td>
        <% if (os.foto_depois) { %>
          <img src="/uploads/<%= os.foto_depois.split('uploads/')[1] %>" 
               alt="Foto depois" width="120">
        <% } else { %>
          -
        <% } %>
      </td>
    </tr>
  <% }) %>
</table>

<%- include("../partials/rodape") %>
