<h1 class="page-title">
    <i class="fa-solid fa-qrcode"></i> QR Code do Equipamento
</h1>

<div class="card" style="text-align:center;">

    <h2 style="color:#0b5e33; font-weight:800; margin-bottom:12px;">
        <%= equipamento.nome %>
    </h2>

    <img src="<%= qr %>" 
         alt="QR Code" 
         style="width:260px; height:260px; margin:20px auto; display:block;">

    <p style="margin-top:10px; font-size:14px; opacity:0.8;">
        Link destino:
    </p>

    <div style="
        background:#f7fff8;
        padding:10px;
        border-radius:10px;
        margin-bottom:25px;
        word-break: break-all;
        border:1px solid #d1e7dd;
    ">
        <%= url %>
    </div>

    <div class="actions" style="margin-top:20px;">

        <a href="/equipamentos/<%= equipamento.id %>" class="btn-edit btn-stack">
            <i class="fa-solid fa-eye"></i>
            <span class="btn-label">Ver</span>
        </a>

        <a href="/equipamentos" class="btn-qr btn-stack">
            <i class="fa-solid fa-arrow-left"></i>
            <span class="btn-label">Voltar</span>
        </a>

        <a href="/equipamentos/<%= equipamento.id %>/menu" class="btn-history btn-stack">
            <i class="fa-solid fa-bars"></i>
            <span class="btn-label">Menu</span>
        </a>

    </div>

</div>
