<%- include("./partials/cabecalho") %>

<h1 class="page-title">
    <i class="fa-solid fa-list-check"></i>
    Ordens de Serviço
</h1>

<div class="top-actions">
    <a href="/os/nova" class="btn btn-verde-claro">
        <i class="fa-solid fa-plus"></i> Nova OS
    </a>
</div>

<div class="card tabela-card">

    <table class="tabela">
        <thead>
            <tr>
                <th>ID</th>
                <th>Equipamento</th>
                <th>Tipo</th>
                <th>Descrição</th>
                <th>Status</th>
                <th style="width:160px;text-align:center;">Ações</th>
            </tr>
        </thead>

        <tbody>

            <% if (ordens.length === 0) { %>
                <tr>
                    <td colspan="6" class="empty">Nenhuma OS cadastrada.</td>
                </tr>
            <% } %>

            <% ordens.forEach(o => { %>
            <tr>
                <td><%= o.id %></td>
                <td><%= o.equipamento_nome %></td>
                <td><%= o.tipo %></td>
                <td><%= o.descricao.substring(0, 50) %>...</td>

                <td>
                    <% if (o.status === "Fechada") { %>
                        <span class="tag verde-escuro">Fechada</span>
                    <% } else if (o.status === "Em Andamento") { %>
                        <span class="tag cinza-escuro">Em Andamento</span>
                    <% } else { %>
                        <span class="tag cinza-claro">Aberta</span>
                    <% } %>
                </td>

                <td class="actions">

                    <a href="/os/<%= o.id %>" class="action-btn btn-qr">
                        <i class="fa-solid fa-eye"></i>
                        <span class="btn-label-dark">Ver</span>
                    </a>

                    <a href="/os/<%= o.id %>/editar" class="action-btn btn-edit">
                        <i class="fa-solid fa-pen"></i>
                        <span class="btn-label">Editar</span>
                    </a>

                    <a href="/os/<%= o.id %>/finalizar" class="action-btn btn-corr">
                        <i class="fa-solid fa-check"></i>
                        <span class="btn-label-dark">Finalizar</span>
                    </a>

                </td>
            </tr>
            <% }) %>

        </tbody>
    </table>

</div>

<div class="relatorio-actions">
    <a href="/os/relatorio/pdf" target="_blank" class="btn btn-verde-escuro">
        <i class="fa-solid fa-file-pdf"></i> PDF Completo
    </a>

    <a href="/" class="btn btn-cinza-escuro">← Voltar</a>
</div>

<%- include("./partials/rodape") %>
